@media screen and (min-width:300px) {
    body{
        height: 200vh;
    }
    .section-0{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0%;
    }
    header{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        background-color: white;
        /*TODO*/
        /*   1. find font */

        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    .navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .navbar-figure{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .navbar-photo{
        max-height: 10em;
        max-width: 10em;
        border: none;
    }
    .navbar-caption{
        margin-left: 0.5em;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 3.5rem;
    }
    .navbar-button{
        border: none;
        background-color: white;
        font-size: 3.5rem;
        color: grey;
    }
    .navbar{
        padding: 0;
    }

    .navbar-list{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: white;
        list-style-position: inside;
        display: none;

    }
    .navbar-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        font-size: 3rem;

    }
    .navbar-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        font-size: 3rem;
    }
    .navbar li{
        padding: 1em;
        align-self: flex-start;
        width: 100%;
    }
    .navbar-list-text{
        margin-left: 1em;
    }
    .navbar-left li:nth-child(1){
        color: white;
    }

    .intro{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30em;
        white-space: normal;
        max-width: 50em;
    }

    .intro-text-container{
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid lightgrey;
        padding: .25em;
    }
    .intro-text{
        font-size: 4rem;
        margin: 0;
        animation: slide-up 2s;
    }
    @keyframes slide-up {
        from{
            opacity: 0.2;
            line-height: 200px;
        }
        to{
            opacity: 1;
            line-height: 97px;
        }
    }
    .intro-city-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .intro-city{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: 15em;
        border: lightgrey 2px solid;
        border-radius: 6px;
        margin-left: 1em;
    }
    .intro-city-text{
        margin: 0;
        font-size: 2rem;
    }
    .intro-based-in{
        margin: 2em 0;
        font-size: 2rem;
        color: lightgrey;
    }
    .projects-header{
        margin-bottom: 3em;
    }
    .projects{
        margin-top: 30em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .project-details{
        font-size: 4rem;
        font-weight: bolder;
        text-align: left;
        margin-left: 0;
        width: 40%;
    }
    .project-date{
        color: lightgrey;
        font-size: 2rem;
    }
    .project-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3em;
    }
    .project-description{
        padding-left: 1em;
        width: 50%;
        border-left: 2px lightgrey solid;
        font-size: 2rem;
    }

}
