@media screen and (min-width:300px) {
    body{
        height: 200vh;
    }
    .section-0{
        width: 100%;
        position: fixed;
        top: 0%;
    }
    header{
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        background-color: white;
        /*TODO*/
        /*   1. find font */


    }
    .navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .navbar-figure{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .navbar-photo{
        max-height: 10em;
        max-width: 10em;
        border: none;
    }
    .navbar-caption{
        margin-left: 0.5em;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 3.5rem;
        font-weight: 300;
    }
    .navbar-button{
        border: none;
        background-color: white;
        font-size: 3.5rem;
        color: grey;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
    .navbar{
        padding: 0;
    }

    .navbar-list{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: white;
        list-style-position: inside;
        display: none;

    }
    .navbar-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        font-size: 3rem;
    }
    .navbar-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        font-size: 3rem;
    }
    .navbar li{
        padding: 1em;
        align-self: flex-start;
        width: 100%;
    }
    .navbar-list-text{
        margin-left: 1em;
    }
    .navbar-left li:nth-child(1){
        color: white;
    }
    .horizontal-line-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-bottom: 5em;
        margin-left: auto;
        margin-right: auto;
    }
    .horizontal-line{
        border-bottom: 1px solid lightgrey;
        width: 80%;
    }
    .horizontal-line-link{
        display: flex;
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 0;
        margin-bottom: 0;
        width: 20%;
    }
    .horizontal-line-link > a{
        color: black;

    }
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: none;
    }
    .intro{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30em;
        white-space: normal;
        max-width: 50em;
    }

    .intro-text-container{
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid lightgrey;
        padding: .25em;
    }
    .intro-text{
        font-size: 4rem;
        margin: 0;
        animation: slide-up 2s;
    }
    @keyframes slide-up {
        from{
            opacity: 0.2;
            line-height: 200px;
        }
        to{
            opacity: 1;
            line-height: 97px;
        }
    }
    .intro-city-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .intro-city{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: 15em;
        border: lightgrey 2px solid;
        border-radius: 6px;
        margin-left: 1em;
    }
    .intro-city-text{
        margin: 0;
        font-size: 2rem;
    }
    .intro-based-in{
        margin: 2em 0;
        font-size: 2rem;
        color: lightgrey;
    }
    .section-1{
        margin-top: 5em;
        margin-right: auto;
        margin-left: auto;
    }
    .recent-project-picture{
        width: 75%;
        height: 700px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }
    .recent-project-title{
        display: flex;
        justify-content: end;
        width: 75%;
        font-size: 4rem;
        font-weight: bolder;
        margin-right: auto;
        margin-left: auto;
    }
    .recent-project-description{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 3rem;
    }
    .recent-project-link{
        display: flex;
        justify-self: start;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        color: lightgrey;
        font-size: 2rem;
    }
    .recent-project-container{
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        padding-bottom: 6em;
    }
    .projects{
        margin-top: 15em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .project-details{
        font-size: 4rem;
        font-weight: bolder;
        text-align: left;
        margin-left: 0;
        width: 40%;
    }
    .project-date{
        color: lightgrey;
        font-size: 2rem;
    }
    .project-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3em;
    }
    .project-description{
        padding-left: 1em;
        width: 50%;
        border-left: 2px lightgrey solid;
        font-size: 2rem;
    }

    .recent-blog-picture{
        width: 75%;
        height: 700px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }
    .recent-blog-title{
        display: flex;
        justify-content: end;
        width: 75%;
        font-size: 4rem;
        font-weight: bolder;
        margin-right: auto;
        margin-left: auto;
    }
    .recent-blog-description{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 3rem;
    }
    .recent-blog-link{
        display: flex;
        justify-self: start;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        color: lightgrey;
        font-size: 2rem;
    }
    .recent-blog-container{
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        padding-bottom: 6em;
    }
    .latestpost{
        font-size: 2rem;
    }

    .section-2{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }



}
